@use 'sass:color';
$block-width: 100px;

body{
  background-color: #ececec;
  -webkit-background-size: 100px;
  font-family: "SF UI Display";
  padding: 30px;
  a{
    text-decoration: none;
    &:hover{
      color: magenta;
    }
  }
}
.container{
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  &.flower{
    background-image: url("./wood.jpg");
    background-size: 200px 200px;
    background-repeat: repeat;
    .header{
      color: white;
    }
  }
  .header{
    font-weight: bold;
    font-size: 20px;
  }
  .content{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;

  }
}
.block{
  flex-shrink: 0;
  width: $block-width;
  height: $block-width;
  margin: 0 10px 10px 0;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: $block-width;
}

$green: #4B9E65;

.green-original    { background-color: $green;                      }
.green-lighten     { background-color: lighten($green,20%);         }
.green-darken      { background-color: darken($green,20%);          }
.green-saturate    { background-color: saturate($green,20%);        }
.green-desaturate  { background-color: desaturate($green,20%);      }
.green-transparent { background-color: transparentize($green, 0.2); }



/* buttons */
$green          : #4CD964;
$syan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;

$btn-types: (
        "normal": white,
        "primary": $blue,
        "success": $green,
        "danger": $red,
        "warning": $orange,
        "second": $gray,
);

/****************************
把一些常用的需要多平台适配的（-webkit-）做成 mixin 方便调用，写的时候代码也简洁
像这种还有 box-shadow transform transition animation 等等
一般在项目中都单独定义成一个文件 _utility.scss，直接引用使用，也方便。
这里只是提一下，可能会对你有所启发
*/

@mixin border-radius($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

/****************************
这里定义最常用的通用方法，比如 .link .btn .block .hidden
一般保存为 _normalize.scss 文件
*/

.unselectable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .btn 里只放 button 最基础的行为和动作
// 下面循环中的 .btn-xxxx 只处理按钮的颜色变化，这样明了
.btn {
  padding: 6px 10px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  @extend .unselectable; // 引用其它类的内容作为自己的内容，也就是扩展
  @include border-radius(5px); // 调用 mixin
  &:active{
    transform: translateY(2px);
  }
}

@each $name, $color in $btn-types {
  .btn-#{$name} {
    @if $name == normal {   // 判断 button 名 是否为 'normal'
      color: #333;          // 如果是，内部文字颜色为 #333
      border: 1px solid darken($color, 20%);
    } @else {
      color: white;
      border: 1px solid darken($color, 5%);
    }
    background-color: $color;
    &:hover{
      background-color: lighten($color, 5%);
    }
    &:active{
      border-color: transparent;
      background-color: darken($color, 15%); // 点击的时候按钮背景颜色深 15%
    }
  }
}


// 颜色操作
@for $item from 0 through 12 {
  .text-level-#{$item}{
    margin-right: 15px;
    font-weight: bold;
    color: color.change($red, $hue: -30deg * $item) !important;
  }
}

@for $item from 0 through 12 {
  .box-level-#{$item}{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    font-weight: bold;
    background-color: color.change($red, $hue: -30deg * $item) !important;
  }
}



// 动画图标 ANIMATION ICONS

$animation-duration: 0.3s; // 动画的间隔
$icon-width: 60px;         // 图标的大小
$frame-count: 16;          // 动画的帧率



.animation-icon {
  width: $icon-width;
  height: $icon-width;
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  @extend .animation-icon-leave; // 默认图标动画
  border: 1px solid transparent; // 这个只是为了标识鼠标悬停的位置，实际使用中删除即可
  &:hover {
    border: 1px solid #eee; // 这个只是为了标识鼠标悬停的位置，实际使用中删除即可
    @extend .animation-icon-enter // hover 时的图标动画
  }
}

// 背景图
.lock{background-image: url(animation-icons/tencent.png);}
.money{background-image: url(animation-icons/money.png);}
.setup{background-image: url(animation-icons/setup.png);}
.game{background-image: url(animation-icons/game.png);}
.cloud{background-image: url(animation-icons/cloud.png);}
.weixin{background-image: url(animation-icons/weixin.png);}


// 进入动画
.animation-icon-enter {
  -webkit-animation:icon-animation-enter $animation-duration steps($frame-count) forwards;
  animation: icon-animation-enter $animation-duration steps($frame-count) forwards
}

@-webkit-keyframes icon-animation-enter {
  0% {background-position: 0 0}
  to {background-position: 0 $icon-width * $frame-count * -1}
}

@keyframes icon-animation-enter {
  0% {background-position: 0 0}
  to {background-position: 0 $icon-width * $frame-count * -1}
}

// 离开动画
.animation-icon-leave {
  -webkit-animation: icon-animation-leave $animation-duration steps($frame-count) forwards;
  animation: icon-animation-leave $animation-duration steps($frame-count) forwards
}

@-webkit-keyframes icon-animation-leave {
  0% {background-position: 0 $icon-width * $frame-count * -1}
  to {background-position: 0 0}
}

@keyframes icon-animation-leave {
  0% {background-position: 0 $icon-width * $frame-count * -1}
  to {background-position: 0 0}
}


.ali-ai{background-image: url(animation-icons/ali-ai.png);}
.ali-bigdata{background-image: url(animation-icons/ali-bigdata.png);}
.ali-box{background-image: url(animation-icons/ali-box.png);}
.ali-database{background-image: url(animation-icons/ali-database.png);}
.ali-file{background-image: url(animation-icons/ali-file.png);}
.ali-flex{background-image: url(animation-icons/ali-flex.png);}
.ali-middle{background-image: url(animation-icons/ali-middle.png);}
.ali-mix{background-image: url(animation-icons/ali-mix.png);}
.ali-network{background-image: url(animation-icons/ali-network.png);}
.ali-new{background-image: url(animation-icons/ali-new.png);}
.ali-safety{background-image: url(animation-icons/ali-safety.png);}
.ali-serve{background-image: url(animation-icons/ali-serve.png);}
.ali-thing-net{background-image: url(animation-icons/ali-thing-net.png);}
.ali-video{background-image: url(animation-icons/ali-video.png);}
